# IDE & Editors
.idea/
.vscode/

# Python Caches & Tests
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Virtual Environment
.venv/

# Pacote
build/
dist/
Orbital Explorer.spec

# Icons
quantum_icon_256.ico